body {
    padding: 0;
    margin: 0;  
    font-family: 'Rokkitt', sans-serif;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 240px 7fr;
    grid-template-rows: 1fr 7fr;
}


#sidebar {
    background-color: rgb(44, 118, 255);
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 25px 300px 200px;
    row-gap: 50px;
    padding-left: 10px;
}

#page-name {
    grid-row-start: 1;
    grid-row-end: 2;
}

#nav-links {
    grid-row-start: 2;
    grid-row-end: 3;
}

#help-links {
    grid-row-start: 3;
    grid-row-end: 4;
}

#sidebar p,
#sidebar h1 {
    color: white;
    font-weight: bold;
    text-align: start;
}

#sidebar h1 {
    font-size: 36px;
}

#sidebar p {
    font-size: 24px;
    
}

#sidebar img {
    vertical-align: text-top;
}

#menu-section {
    background-color: white;
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

#search-bar {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 20px;
    width: 47rem;
    align-self: center;
    justify-self: center;
}

#profile {
    grid-row-start: 1;
    grid-column-start: 2;
    font-size: 26px;
    display: flex;
    gap: 10px;
}

#profile img, #user-details img {
    align-self: center;
}

#user-details {
    grid-row-start: 2;
    grid-column-start: 1;
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

#content-buttons {
    grid-row-start: 2;
    grid-column-start: 2;
}

#content-buttons button {
    font-size: 24px;
}

#main-content {
    background-color: rgb(159, 189, 209);
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#projects-section {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

#updates {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#announcements {
    grid-row-start: 1;
}

#announce-content, #trending-content {
    padding: 35px;
    background-color: white;
    width: 60%;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgb(175, 165, 165);
    margin:auto;
}

#p-head {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#p-body {
    font-size: 16px;
    color: rgb(155, 144, 144);
    margin-top: 0;
    padding-top: 0;
}

#trending {
    grid-row-start: 2;
}

#trending-content p {
    display: inline-block;
    vertical-align: top;
    margin-right:10px;
    font-size: 18px;
}

button {
    background-color: rgb(44, 118, 255);
    border-radius: 25%;
    color: white;
}