body {
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr;
}


#sidebar {
    background-color: lightseagreen;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 25px 300px 200px;
    row-gap: 50px;
    padding-left: 10px;
}

#page-name {
    grid-row-start: 1;
    grid-row-end: 2;
}

#nav-links {
    grid-row-start: 2;
    grid-row-end: 3;
}

#help-links {
    grid-row-start: 3;
    grid-row-end: 4;
}

#sidebar p,
#sidebar h1 {
    color: white;
    font-weight: bold;
    text-align: start;
}

#sidebar h1 {
    font-size: 32px;
}

#sidebar p {
    font-size: 24px;
    
}

#sidebar img {
    vertical-align: text-top;
}

#menu-section {
    background-color: lightcoral;
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

#search-bar {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 20px;
    width: 47rem;
    align-self: center;
    justify-self: center;
}

#profile {
    grid-row-start: 1;
    grid-column-start: 2;
    font-size: 32px;
}

#user-details {
    grid-row-start: 2;
    grid-column-start: 1;
}

#content-buttons {
    grid-row-start: 2;
    grid-column-start: 2;
}

#content-buttons button {
    font-size: 24px;
}

#main-content {
    background-color: lightslategray;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#projects-section {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

#announcements {
    grid-column-start: 3;
}

