#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr;
}

#sidebar {
    background-color: lightseagreen;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#menu-section {
    background-color: lightcoral;
    grid-column-start: 2;
    grid-row-start: 1;

}

#main-content {
    background-color: lightslategray;
    grid-column-start: 2;
    grid-row-start: 2;
}